 <%= stylesheet_link_tag "article" %>
 <%= stylesheet_link_tag "articles" %>
<div id="wrap">
  <div id="header"><font color="red">G<font color="blue">&</font>A</font> INTERNATIONAL</div>
  <div id="nav">
    <ul>
      <li><%= "Login as " + @user.username + " |" unless @user.blank? %></li>
      <li><%= link_to "Setting |",:controller =>"user",:action=>"accounts" unless @user.blank?  %></li>
      <li><%= link_to "Login",:controller =>"user",:action=>"login" if @user.blank? %></li>
      <li> <%= link_to "Logout",:controller =>"user",:action=>"logout" unless @user.blank?%></li>
    </ul>
  </div>
  <div id="main">
    <table>
    <tr><td><%= link_to 'Home' ,:controller =>'articles' ,:action =>'index' ,:id => ""%></td></tr>
    <% @articles.each{|article| %>
      <tr><td><%= link_to article.link_title.humanize,:controller =>'articles' ,:action =>'index',:id => article.id %></td></tr>
    <%}%>
    <tr><td><%= link_to 'G&A in pictures',:controller=>'albums' ,:action=>'show'%></td></tr>
    </table>
  </div>

  <div id="sidebar">
     <div id="page_update">Site last updated at: <%= Article.last_update_time.strftime("%H:%M CAT,%A,%d-%b-%Y") rescue nil%></div>
      <p id="title"><%=@article.title rescue nil%></p>
      <% unless @article.blank? %>
       <%= @article.content %>
     <%end%>
  </div>

  <div id="footer">
    <p><font face="Arial" style="font-size: 8pt;">©<%= Time.now.strftime("%Y")%> - email :studios_ga@yahoo.ca</font></p>
  </div>
</div>

