<html>
<head>
 <%= javascript_include_tag "prototype" %>
 <%= stylesheet_link_tag "home" %>
 <%= stylesheet_link_tag "pictures" %>
<style>

 #folder{
  overflow:auto;
  padding:10px 10px 5px;
  height:615px;
  overflow:auto;
 }

  #folder img{
    border:0 none;
  }

  .image_code1 
  {
    width:180;
    height:135px;
  }

  .image_container{
    background:white none repeat scroll 0 0;
    border:1px solid #CCCCCC;
    margin:0 0 5px;
    margin:0 auto;
    padding:9px;
    display:block;
    height:133px;
  }

  .info {
    float:left;
    padding-right:20px;
    width:380px;
  }

  .images{
    float:left;
    padding-right:10px;
    width:180px;
  }

  .count {
    color:gray;
    font-weight:normal;
  }
</style>
<script>
  function popup() {
    alert("sssssssss");
  }
</script>
<title>G&A international</title>
</head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" id="page_body">
  <div id="title"></div></div>
  <div id="login"><%= "Login as " + @user.username + " |" unless @user.blank? %><%= link_to "Setting |",:controller =>"user",:action=>"accounts" unless @user.blank?  %><%= link_to "Login |",:controller =>"user",:action=>"login" if @user.blank?%> <%= link_to "Logout",:controller =>"user",:action=>"logout" unless  @user.blank?%></div>
  <div id="data_div">
    <div align="left" id="left">
    <table>
    <tr><td><%= link_to 'Home',:controller=> 'articles' ,:action=>'index', :id => ""%></td></tr>
    <% @articles.each{|article| %>
      <tr><td><%= link_to article.link_title,:controller=>'articles' ,:action=>'index',:id => article.id %></td></tr>
    <%}%>
    <tr><td><%= link_to 'G&A in pictures',:controller=>'albums' ,:action=>'show'%></td></tr>
    </table>
    </div>
    <div id="center">
    <div id="page_update">Site last updated at: <%= Article.last_update_time.strftime("%H:%M CAT,%A,%d-%b-%Y")%></div>
    
      <div id='folder'>
        <% @albums.each{|album|%>
        <diV class="image_container"><div class="images"><%= link_to image_tag("/images/uploads/#{album.album}/#{album.file_name}",:class =>"image_code1") ,:controller =>"album",:action =>"pictures",:id => album.album %></div>
          <div class="info">
           <h2 style="font-size:12px;"><%=link_to "#{album.album}",:controller =>"albums",:action =>"pictures",:id => album. album %></h2>
           <span class="count"><%= "#{album.length} photo(s)" rescue 2 %></span></br>
           <span class="count">Created: <%= album.created_date.strftime("%B %d, %Y") rescue nil %></span></br>
           <span class="count">Updated: <%= album.updated_date.strftime("%B %d, %Y") rescue nil %></span></br>
           <% if @user %> 
             <span class="count"><%= link_to "Edit album | ",:controller =>"user",:action => "accounts" %>&nbsp;<%= link_to "Delete album",:controller =>"album",:action => "delete", :id => album.album %></span></br>
           <% end %>
          </div>
        </div>
        <%}%>
      </div> 
         
    </div>
  </div>
  <div id="about">
  <table id="footer">
    <tr><td>
      <p align="center" style="margin-top: 2px; margin-bottom: 2px;">
      <font face="Arial" color="" style="font-size: 8pt;">© <%= Time.now.strftime("%Y")%> - email :g.a.studio@liberty.mw<%='&nbsp;'*3%>g.a@yahoo.com</font>
      </p>
    </td></tr>
  </table>
  </div>
</body>
</html>

