<style>
#edit_user
  {
    font-size:12px;
  }
</style>
<div id='edit_user'>
<u><b>Edit</b></u></br>
<% form_tag :controller =>"user" ,:action => "update",:id => User.current_user.id do %>
<table class="form_table">
<tr><td>User name:</td><td><%= text_field 'user', 'username' ,:value => User.current_user.username %></td><tr>
<tr><td>First name:</td><td><%= text_field 'user', 'first_name', :value => User.current_user.first_name %></td><tr>
<tr><td>Last name:</td><td><%= text_field 'user', 'last_name' ,:value => User.current_user.last_name %></td><tr>
<tr><td>Password:</td><td><%= password_field 'user', 'password' %></td><tr>
<tr><td>Confirm password:</td><td><%= password_field 'confirmpassword', nil %></td><tr></table></br>
<%= submit_tag value="Submit"%>
<% end %>
</div>

